
/***  Stylesheet for game controllers  ***/

#control-container {
    width: 100%;
    text-align: left;
    margin: 0;
}

#joystick-container, #button-container {
    display: inline-block;
}


#joystick-container {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 10px;
    top: 5px;

}

#button-container {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 20px;
    padding-top: 90px;
    height: 100%;
    width: 150px;
}

#control-button {
    width: 120px;
    height: 120px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0, 0.2);
    border: 4px solid rgba(255, 255, 255, 0.9);
    border-radius: 50%;

}

#btn-create-game, #btn-sim-hit, #btn-restart-game {
    display: inline-block;
    padding: 5px;
    margin-top: 40px;
    background-color: white;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0, 0.1);
    border: 1px solid #0b4251;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;

}

#points {
    display: none;
    font-size:40px;
    color: white;
    text-align: center;
    font-weight: 700;
    position: fixed;
    top: 35px;
    width: 100%;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

#cool-down-bar-container {
    position: absolute;
    width: 200px;
    height: 20px;
    left: 50%;
    top: 10px;
    margin-left: -100px;
    border-radius: 5px;
    border: 1px solid white;
    overflow: hidden;
    

}

#cool-down-bar {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #367d59;
}

#message-container {
    position: absolute;
    display: none;
    width: 200px;
    top: 100px;
    left: 50%;
    margin-left: -100px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 35px;
    font-weight: 700;
    box-shadow: 0px 0px 60px 0px rgba(0,0,0, 0.4);
}

#game-info {
    font-size: 18px;
    font-weight: normal;
}

#btn-debug-container {
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;
}
#btn-debug-container div {
    margin: 5px;
    padding: 9px;
}

.wait-till-game {
    visibility: hidden;
}

#static {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 10px;
    top: 30px;
}

