@import url('https://fonts.googleapis.com/css?family=Proza+Libre');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
html {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    font-family: "Proza Libre";
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
    background: rgb(255,255,255);
    background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
}

#container {
    margin: 20px;
}

#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    margin: 0;
    z-index: 10;
}

#overlay-content {
    width: 250px;
    margin: 40px auto;
    color: white;
    font-size: 45px;
    text-align: center;
    font-family: "Bree Serif";
}

#overlay-button {
    width: 200px;
    margin: 80px auto;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.9);
    padding: 10px;
    font-size: 20px;
    text-align: center;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}


#btn-connect-wrapper,
#btn-led-wrapper,
/*#servo-servo-wrapper,*/
#mode-chooser-wrapper {
    width: 300px;
    margin: 30px auto;
    text-align: center;
    cursor: pointer;
}

#mode-chooser-wrapper {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 3px;
}

#btn-connect {
    width: 150px;
        font-family: "Proza Libre";
    height: 30px;
    margin: 0 auto;
    background: rgb(17, 92, 78);
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);

}

#controller-wrapper {
    width: 100%;
}

#status-wrapper,
#btn-led-wrapper {
    width: 100px;
    padding: 3px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: none;
    background-color: rgb(190, 10, 10);
    text-align: center;
}

#status-wrapper {
    position: fixed;
    right: 0;
    top: 0;
    font-size: 12px;
}

#btn-led-wrapper {
    background-color: white;
    border: 1px solid black;
    color: black;
}

#servo-slider {
    width: 300px;
}

#mode-chooser-wrapper p {
    font-weight: bold;
}

#mode-chooser-wrapper span {
    margin-right: 20px;
}

#mode-chooser-wrapper input[type=radio] {
    margin-right: 5px;
}

#servo-wrapper,
#shoot-button-wrapper {
    display: inline-block;
}

#shoot-button-wrapper {
    float: right;
}

#shoot-button {
    border: 2px solid white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-right: 40px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
    background-color: rgb(9, 63, 97);
}


input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 8.8px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 15.4px;
    cursor: pointer;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0);
    background-color: rgba(201, 201, 201, 1);
    border-radius: 2.1px;
    border: 0px solid rgba(12, 1, 1, 0.7);
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(255, 255, 255, 1);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(107, 107, 107);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #f4f4f4;
}

#overlay-rotate {
    display: none;
    width: 200px;
    margin: 150px auto;
    color: white;
    font-size: 25px;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.air-over {
    margin-top: 10px;
}

.air-under {
    margin-bottom: 10px;
}

@media screen and (orientation:portrait)
{
    #overlay,
    #overlay-rotate {
        display: block;
    }

    #overlay-content,
    #overlay-button {
        display: none;
    }
}
