@import url('https://fonts.googleapis.com/css?family=Lato|Hind:500,600,700|Roboto');
@import url('https://fonts.googleapis.com/css?family=Amaranth:700|Exo:800|Fugaz+One|Russo+One');

body {
    box-sizing: border-box;
    font-family: Hind;
    background: linear-gradient(to top right, #231138, #0ea6b5);
    /*background: linear-gradient(to top right, #031A28, #034C78);*/
    /*background: linear-gradient(to top right, #322946, #139ed4);*/
    /*background: linear-gradient(to top right, #1b242f, #5b7e92);*/
    /*background: linear-gradient(to bottom right, #000f46, #1ccee0);*/
    /*background: linear-gradient(to top left, #44a08d, #093637);*/
}


h1 {
    text-align: center;
    font-size: 45px;
    font-family: "Fugaz One";
    color: white;
    text-shadow: 2px 3px 7px rgba(0, 0, 0, 0.2);
}


#wrapper {

}

#header-wrapper {
    margin-top: 50px;
}

#connect-wrapper {
    width: 250px;
    margin-top: 90px;
}

#disconnect-wrapper {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 30px;
    display: none;
}

#content-inner-wrapper {
    width: 300px;
    display: none;
}

.btn {
    border-radius: px;
}

#connect-btn {
    padding: 8px 6px;
    width: 150px;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    border: 2px solid #ffffff;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
    background-color: rgb(63, 159, 221);
    /*background: linear-gradient(to top right, #1e5799 0%,#2989d8 50%,#207cca 61%,#7db9e8 100%);*/
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#disconnect-btn {
    padding: 2px 0px;
    width: 110px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: 2px solid #ffffff;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    user-select: none;
    background-color: rgb(63, 159, 221);
    background: linear-gradient(to top right, #1e995e 0%,#1d8b56 50%,rgb(32, 162, 100) 61%,#23af6c 100%);
    background: rgba(57, 130, 73, 1.0);
    background: rgba(173, 22, 22, 0.94);
    color: white;
}

#logo-wrapper {
    float: bottom;
    width: 200px;
    margin-top: 90px;
    margin-bottom: 30px;
    opacity: 1;
}

.bold { font-weight: bold; }
.center { text-align: center; }
.center-div {margin-left: auto; margin-right: auto; }
.unselectable { user-select: none; }


/* Robot */

#robot-info {
    color: white;
}

#robot-sub-title {
    font-size: 18px;
    color: white;
}

#robot-action-list {
    width: 300px;
    margin-top: 20px;
}

.robot-action-item {
    width: 230px;
    margin: 15px auto;
    padding: 7px 10px;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: 500;
    color: white;
    box-sizing: border-box;
}
