@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    box-sizing: border-box;
    font-family: Lato;
}


h1 {
    text-align: center;
}


#wrapper {

}

#header-wrapper {
    margin-top: 15px;
}

#connect-wrapper {
    width: 250px;
    margin-top: 20px;
}

#content-wrapper {
    margin-top: 30px;
}

#content-inner-wrapper {
    width: 250px;
    display: none;
}

#connect-btn {
    margin: auto;
    padding: 8px 6px;
    width: 80px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border: 2px solid #ffffff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    user-select: none;
    background-color: rgb(21, 133, 204);
    color: white;
}

.bold { font-weight: bold; }
.center { text-align: center; }
.center-div {margin-left: auto; margin-right: auto; }

/* Robot */

#robot-sub-title {
    font-size: 18px;
}

#robot-action-list {
    width: 300px;
    margin-top: 20px;
}

.robot-action-item {
    width: 200px;
    margin: 15px auto;
    padding: 7px 10px;
    border: 2px solid white;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: rgb(83, 21, 125);
    font-weight: bold;
    color: white;
}
