@import url('https://fonts.googleapis.com/css?family=Lato|Hind:500,600,700|Roboto');
@import url('https://fonts.googleapis.com/css?family=Amaranth:700|Exo:800|Fugaz+One|Russo+One');

* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    height: 100%;
    border-collapse:collapse;
    font-family: Hind;
    /*background: linear-gradient(to top right, #231138, #0ea6b5);*/
    /*background: linear-gradient(to top right, #031A28, #034C78);*/
    /*background: linear-gradient(to top right, #322946, #139ed4);*/
    /*background: linear-gradient(to top right, #1b242f, #5b7e92);*/
    /*background: linear-gradient(to top left, #44a08d, #093637);*/
    background: linear-gradient(to bottom right, #000f46, #1ccee0);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


h1 {
    text-align: center;
    font-size: 45px;
    font-family: "Fugaz One";
    color: white;
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
}


#wrapper {
    height:100%;
    width: 100%;
    border-collapse:collapse;
    display : table;
}

#header-wrapper {
    margin-top: 50px;
}

#connect-wrapper {
    width: 250px;
    margin-top: 90px;
}

#disconnect-wrapper {
    width: 250px;
    margin-top: 35px;
    margin-bottom: 60px;
    display: none;
}

#content-inner-wrapper {
    width: 300px;
    display: none;
}

.btn {
    border-radius: px;
}

#connect-btn {
    padding: 8px 6px;
    width: 160px;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    border: 2px solid #ffffff;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
    background-color: rgb(63, 159, 221);
    /*background: linear-gradient(to top right, #1e5799 0%,#2989d8 50%,#207cca 61%,#7db9e8 100%);*/
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#disconnect-btn {
    padding: 4px 0px;
    width: 110px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    user-select: none;
    background: rgba(226, 19, 19, 0.94);
    color: white;
}

#logo-wrapper {
    display : table-row;
    vertical-align : bottom;
    opacity: 1;
    height: 1px;
}

#logo-wrapper img {
    margin-bottom: 70px;
}

.bold { font-weight: bold; }
.center { text-align: center; }
.center-div {margin-left: auto; margin-right: auto; }
.unselectable { user-select: none; }


/* Robot */

#robot-info {
    color: white;
}

#robot-sub-title {
    font-size: 18px;
    color: white;
}

#robot-action-list {
    width: 300px;
    margin-top: 20px;
}

.robot-action-item {
    width: 230px;
    margin: 15px auto;
    padding: 7px 10px;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: 500;
    font-size: 18px;
    color: white;
    box-sizing: border-box;
    border-radius: 20px;
}

.robot-action-item-label {
    display: inline-block;
}

.sequence-number {
    position: relative;
    display: block;
    float: right;
    margin-top: -2px;
    line-height: 1.2;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 14px;
    max-width: 75px;
    min-width: 0px;
}
