/* Joystick stylesheet */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,500,700|Lato:400,500,700,300,100|Alegreya+Sans);

body {
    font-family: 'Roboto';
}

#joystick-container {
    position: static;
    top: 0;
    display: inline-block;
}

#joystickLeft {
    position: absolute;
}

#joystickLeft {
    position: absolute;

}

#debug-containerLeft {
    position: relative;
    width: 160px;
    margin: 0 auto;
}


#debug-containerRight {
    position: relative;
    width: 160px;
    margin: 0 auto;
    text-align: right;
}

p {
    font-size: 12px;
    line-height: 80%;
}

p:last-child {
    margin-bottom: 30px;
}
